/* Estilo para centralizar a página de login */
.corFundo {
  background-color: var(--Branco);  /* Cor de fundo suave */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;  /* Centraliza verticalmente */
  height: 100vh;  /* Ocupa toda a altura da tela */
  margin: 0;  /* Remove margens */
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;  /* Ajusta para 100% da largura do container */
  max-width: 450px;  /* Limita a largura máxima */
}

h2 {
  font-size: 2.5rem;
  color: var(--Rose);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1rem;
  margin-bottom: 20px;
}

.form-control:focus {
  outline: none;
  border-color: var(--Rose);
}

/* Botão de login */
.btn-pink {
  background-color: var(--Rose);
  color: white;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-pink:hover {
  background-color: #d8285e;
}

/* Link de cadastro */
.text-center a {
  color: var(--Rose);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.text-center a:hover {
  color: #d8285e;
}

/* Alerta */
.alert-box {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.alert-message {
  color: #d32f2f;
  font-weight: bold;
}

.alert-success {
  background-color: #388e3c;
  color: white;
}

.alert-danger {
  background-color: #f44336;
  color: white;
}

.alert-info {
  background-color: #1976d2;
  color: white;
}

/* Exibição do alerta com animação */
.show-alert {
  opacity: 1;
  display: block;
}
