{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de ONG</title>
  <link rel="stylesheet" href="{% static 'css/registro_ong.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>

  <section class="bg-yellow-300 text-white py-16 md:py-24">
    <div class="form-container">
      <h2 class="title">Cadastro de ONG</h2>
      <form method="POST">
        {% csrf_token %}
        <div>
          <label for="username">Usuário</label>
          <input type="text" name="username" id="username" placeholder="Usuário" required>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" required>
        </div>

        <div>
          <label for="senha">Senha</label>
          <input type="password" name="senha" id="senha" placeholder="Senha" required>
        </div>

        <div>
          <label for="cnpj">CNPJ</label>
          <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ" required>
        </div>

        <div>
          <label for="endereco">Endereço</label>
          <input type="text" name="endereco" id="endereco" placeholder="Endereço" required>
        </div>

        <div>
          <label for="telefone">Telefone</label>
          <input type="number" name="telefone" id="telefone" placeholder="Telefone" required>
        </div>

        <button type="submit">Cadastrar</button>
      </form>

      <!-- Botão de voltar com setinha -->
      <a href="javascript:history.back()" class="back-button">&#8592; Voltar</a>

    </div>
  </section>
</body>

</html>
