<h2>Cadastro de Adotante</h2>
<form method="POST">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Usuário" required><br>
  <input type="email" name="email" placeholder="Email" required><br>
  <input type="password" name="senha" placeholder="Senha" required><br>
  <input type="text" name="cpf" maxlength="11" placeholder="Cpf" required><br>
  <input type="date" name="data_nascimento" placeholder="" required> Data de Nascimento<br>
  <input type="text" name="telefone" placeholder="Telefone"><br>
  <input type="text" name="endereco" placeholder="Endereço"><br>
  <button type="submit">Cadastrar</button>
</form>