<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Animais</title>
    <link rel="stylesheet" href="{% static 'css/animais.css' %}">
</head>

<body class="animais-bg">
    <div class="form-container">
        <h2 class="title">Meus Animais</h2>
        <ul class="animal-list">
            {% for animal in animais %}
            <li>
                <img src="{{ animal.foto.url }}" alt="{{ animal.nome }}">
                <h3><strong>{{ animal.nome }}</strong> </h3>
                {{ animal.especie }} <br>
                {{ animal.raca }} <br>
                {{ animal.descricao }} <br>
                <div class="action-buttons">
                    <a href="{% url 'editar_animal' animal.id %}">Editar</a> 
                    <a href="{% url 'excluir_animal' animal.id %}">Excluir</a>
                </div>
            </li>
            {% empty %}
            <li>Nenhum animal cadastrado.</li>
            {% endfor %}
        </ul>
    </div>
    <a href="javascript:history.back()" class="back-button">&#8592; Voltar</a>
</body>

</html>